<style>
    .style1, .style2 { display: block; font-size: 40px; margin-right: 40px }
    .style1 {
        color: #ed5a76;
        text-shadow: 0 1px 0 rgba(0,0,0,0.5),
        0 -1px 0 rgba(0,0,0,0.5),
        1px 0 0 rgba(0,0,0,0.5),
        -1px 0 0 rgba(0,0,0,0.5),
        0 2px 0 rgba(0,0,0,0.3),
        0 3px 0 rgba(0,0,0,0.4),
        0 4px 0 rgba(0,0,0,0.5);
    }
    .style2 {
        color: green;
        text-shadow: 0 0 20px #1F849E
    }
    .shover:hover {
        color: blue;
    }
</style>

<!-- Navigation -->

<div class='subhead'>
  <div class="row">
    <div class="large-12 columns">
      <div class='row'>
        <div class='large-12'>
          Icon Fonts
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="large-12 columns">

    <div class="row">
      <div class="large-4 columns">
        <b>General Icons</b><p></p>
        <i class="icon-camera-retro"> icon-camera-retro</i><br/>
        <i class="icon-spinner icon-spin"></i> icon-spinner<br/>
        <i class='icon-trash'> icon-trash</i><br/>
        <i class='icon-cog'> icon-cog</i><br/>
        <i class='icon-repeat'> icon-repeat</i><br/>
        <i class='icon-info-sign'> icon-info-sign</i><br/>
        <i class='icon-map-marker'> icon-map-marker</i><p></p>
      </div>
      <div class="large-4 columns">
        <b>SAR Icons</b><p></p>
        <i class='icon-bell-alt'> icon-bell-alt</i><br/>
        <i class='icon-stethoscope'> icon-stethoscope</i><br/>
        <i class='icon-ambulance'> icon-ambulance</i><br/>
        <i class='icon-plus-sign-alt'> icon-plus-sign-alt</i><br/>
        <i class='icon-user-md'> icon-user-md</i><br/>
        <i class='icon-medkit'> icon-medkit</i><br/>
        <i class='icon-h-sign'> icon-h-sign</i><p></p><p></p>
      </div>
      <div class="large-4 columns">
        <b>Social Icons</b><p></p>
        <i class='icon-facebook'> icon-facebook</i><br/>
        <i class='icon-twitter'> icon-twitter</i><br/>
        <i class='icon-pinterest'> thumb-down</i><br/>
        <i class='icon-google-plus'> icon-google-plus</i><br/>
        <i class='icon-rss'> icon-rss</i><br/>
        <i class='icon-phone'> icon-phone</i><br/>
        <i class='icon-comment'> icon-comment</i><p></p>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <b>Buttons and Forms</b><p></p>
        <a class="tiny button" href="#"><i class="icon-repeat"></i> Reload</a><br/>
        <div class="button-group">
          <a class="tiny button" href="#"><i class="icon-align-left"></i></a>
          <a class="tiny button" href="#"><i class="icon-align-center"></i></a>
          <a class="tiny button" href="#"><i class="icon-align-right"></i></a>
          <a class="tiny button" href="#"><i class="icon-align-justify"></i></a>
        </div>

        <br/>

        <form>
          <div class="row collapse">
            <div class="small-2 large-2 columns">
              <span class="prefix"><i class="icon-envelope"></i></span>
            </div>
            <div class="small-10 large-10 columns">
              <input type="text" placeholder="Email address">
            </div>
          </div>
          </form>

      </div>

      <div class="large-4 columns">
        <b>Icon Styling</b><p></p>
        <i class="icon-cog style1"></i><p></p>
        <i class="icon-comment style2"></i>
        </div>
      <div class="large-4 columns">
        <b>Vertical Nav</b><p></p>

        <ul class="side-nav">
          <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
          <li><a href="#"><i class="icon-book"></i> Library</a></li>
          <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
          <li><a href="#"><i class="icon-cogs"></i> Settings</a></li>
        </ul>

        </div>
      </div>

  </div>
</div>

